SimpleMarketPlace/WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Connection" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Connection" xmlns:intf="http://Connection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Connection" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="signUp">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="hpone" type="xsd:string"/>
      <element name="wpone" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpResponse">
    <complexType>
     <sequence>
      <element name="signUpReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchCategory">
    <complexType/>
   </element>
   <element name="fetchCategoryResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="fetchCategoryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchProducts">
    <complexType>
     <sequence>
      <element name="category" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchProductsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="fetchProductsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeCart">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeCartResponse">
    <complexType>
     <sequence>
      <element name="removeCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayCart">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayCartResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="displayCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCart">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCartResponse">
    <complexType>
     <sequence>
      <element name="addToCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="advertiseProduct">
    <complexType>
     <sequence>
      <element name="category" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
      <element name="model" type="xsd:string"/>
      <element name="price" type="xsd:int"/>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="advertiseProductResponse">
    <complexType>
     <sequence>
      <element name="advertiseProductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchCategoryResponse">

      <wsdl:part element="impl:fetchCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCartRequest">

      <wsdl:part element="impl:removeCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchProductsRequest">

      <wsdl:part element="impl:fetchProducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchCategoryRequest">

      <wsdl:part element="impl:fetchCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayCartResponse">

      <wsdl:part element="impl:displayCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchProductsResponse">

      <wsdl:part element="impl:fetchProductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayCartRequest">

      <wsdl:part element="impl:displayCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartResponse">

      <wsdl:part element="impl:addToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpResponse">

      <wsdl:part element="impl:signUpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="advertiseProductRequest">

      <wsdl:part element="impl:advertiseProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpRequest">

      <wsdl:part element="impl:signUp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCartResponse">

      <wsdl:part element="impl:removeCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartRequest">

      <wsdl:part element="impl:addToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="advertiseProductResponse">

      <wsdl:part element="impl:advertiseProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="signUp">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchCategory">

         <wsdl:input message="impl:fetchCategoryRequest" name="fetchCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:fetchCategoryResponse" name="fetchCategoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchProducts">

         <wsdl:input message="impl:fetchProductsRequest" name="fetchProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:fetchProductsResponse" name="fetchProductsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCart">

         <wsdl:input message="impl:removeCartRequest" name="removeCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeCartResponse" name="removeCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayCart">

         <wsdl:input message="impl:displayCartRequest" name="displayCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayCartResponse" name="displayCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdl:input message="impl:addToCartRequest" name="addToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToCartResponse" name="addToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="advertiseProduct">

         <wsdl:input message="impl:advertiseProductRequest" name="advertiseProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:advertiseProductResponse" name="advertiseProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="advertiseProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="advertiseProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="advertiseProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/SimpleMarketPlace/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
